:root {
    --text: #050315;         
    --background: #fbfbfe;   
    --primary: #ce557e;     
    --secondary: #4CA7C0;    
    --accent: #FBB13C;    
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color: var(--text);
    margin: 0;
  }
  header {
    padding: 24px;
    border-bottom: 1px solid #050315;
  }
  .branding {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
  }
  .branding img {
    width: 55px;
    height: 55px;
}
nav ul {
  list-style: none;     
  padding: 0;
  justify-content: space-evenly;
  display: flex;         
  gap: 25px; 
}